# =============================================================================
# CONFIGURAÇÕES DO EVOLUTION
# =============================================================================
DOMAIN=your_domain_here
EVOLUTION_API_KEY=your_evolution_api_key_here
S3_ACCESS_KEY=your_s3_access_key_here
S3_SECRET_KEY=your_s3_secret_key_here

# =============================================================================
# CONFIGURAÇÕES DO EVOLUTION GO
# =============================================================================
DOMAIN=your_domain_here
GLOBAL_API_KEY=your_evolution_api_key_here
MINIO_ACCESS_KEY=your_minio_access_key_here
MINIO_SECRET_KEY=your_minio_secret_key_here
POSTGRES_PASSWORD=your_postgres_password_here

# =============================================================================
# CONFIGURAÇÕES DO WAHA
# =============================================================================
WAHA_USERNAME=your_waha_username_here
WAHA_PASSWORD=your_waha_password_here